<template name="tileLocationControl">
  <a href="#" class="btn btn-default geolocate" onclick="getLocation();"><i class="fa fa-location-arrow" aria-hidden="true"></i> Use my location</a>
  <a href="#" class="pull-right" id="advanced-location-toggle">Search location <i class="fa fa-caret-down" aria-hidden="true"></i></a>
  <div id="advanced-location">
    <hr>
    <input name="locationSearch" id="locationSearch" type="text" value="" placeholder="Search for a location..." class="form-control"/>
    <div id="map" style="height:200px;"></div>
    <input name="lat" id="lat" type="text" value="" placeholder="Latitude" class="form-control">
    <input name="lng" id="lng" type="text" value="" placeholder="Longitude" class="form-control">
    <hr>
  </div>

  <script>
    //Show advanced location menu
    $("#advanced-location").css({'visibility':'hidden', 'position':'absolute'});
    $("#advanced-location-toggle").click(function() {
        $("#advanced-location").css({'visibility':'visible', 'position':'static'});
        $("#advanced-location-toggle").css({'visibility':'hidden'});
        google.maps.event.trigger(map, 'resize');
    });

    //Use Geolocation
    function getLocation(){
      $( ".geolocate" ).html('<i class="fa fa-spinner" aria-hidden="true"></i> Getting your location...');
      navigator.geolocation.getCurrentPosition(handleGetCurrentPosition, onPositionError);
    };
    function handleGetCurrentPosition(location){
      $("#lat").val(location.coords.latitude);
      $("#lng").val(location.coords.longitude);
      $( ".geolocate" ).html('<i class="fa fa-location-arrow" aria-hidden="true"></i> Located successfully');
      $( ".geolocate" ).addClass( "btn-success");
    };
    function onPositionError(){
      throwError("There was an issue getting your location.");
      $( ".geolocate" ).html('<i class="fa fa-exclamation" aria-hidden="true"></i> Could not get your location.');
      $( ".geolocate" ).addClass( "btn-warning");
    };
  </script>
</template>

<template name="tileLocationControlEdit">
  <a href="#" class="btn btn-default geolocate" onclick="getLocation();"><i class="fa fa-location-arrow" aria-hidden="true"></i> Use my location</a>
  <a href="#" class="pull-right" id="advanced-location-toggle">Search location <i class="fa fa-caret-down" aria-hidden="true"></i></a>
  <div id="advanced-location">
    <hr>
    <input name="locationSearch" id="locationSearch" type="text" value="" placeholder="Search for a location..." class="form-control"/>
    <div id="map" style="height:200px;"></div>
    <input name="lat" id="lat" type="text" placeholder="Latitude" class="form-control" value="{{latitude}}">
    <input name="lng" id="lng" type="text" placeholder="Longitude" class="form-control" value="{{longitude}}">
    <hr>
  </div>

  <script>
    //Show advanced location menu
    $("#advanced-location").css({'visibility':'hidden', 'position':'absolute'});
    $("#advanced-location-toggle").click(function() {
        $("#advanced-location").css({'visibility':'visible', 'position':'static'});
        $("#advanced-location-toggle").css({'visibility':'hidden'});
        google.maps.event.trigger(map, 'resize');
    });

    //Use Geolocation
    function getLocation(){
      $( ".geolocate" ).html('<i class="fa fa-spinner" aria-hidden="true"></i> Getting your location...');
      navigator.geolocation.getCurrentPosition(handleGetCurrentPosition, onPositionError);
    };
    function handleGetCurrentPosition(location){
      $("#lat").val(location.coords.latitude);
      $("#lng").val(location.coords.longitude);
      $( ".geolocate" ).html('<i class="fa fa-location-arrow" aria-hidden="true"></i> Located successfully');
      $( ".geolocate" ).addClass( "btn-success");
    };
    function onPositionError(){
      throwError("There was an issue getting your location.");
      $( ".geolocate" ).html('<i class="fa fa-exclamation" aria-hidden="true"></i> Could not get your location.');
      $( ".geolocate" ).addClass( "btn-warning");
    };
  </script>
</template>
