<template name="tileItem">
  <div class="tile {{#if isStoryEditPage}}thumbnail{{/if}}">

    {{#if tileTypeText}}
    <div class="tile-text">
      <p>{{{text}}}</p>
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    </div>
    {{/if}}

    {{#if tileTypeImage}}
    <div class="tile-image">
      <div class="hero" style="background-image: url('https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}');"></div>
      <div class="image-caption">
        {{#if hasText}}
          <p>{{text}}</p>
        {{/if}}
        {{#if hasAttribution}}
          <p><small>{{attribution}}</small></p>
        {{/if}}
      </div><!-- image-caption -->
    </div>
    {{/if}}

    {{#if tileTypeVideo}}
    <div class="tile-video">
      <video class="img-responsive" controls poster="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.jpg">
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.webm" type="video/webm"/>
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.mp4" type="video/mp4"/>
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.ogv" type="video/ogg"/>
      </video>
      {{#if hasText}}
        <p>{{text}}</p>
      {{/if}}
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    </div>
    {{/if}}

    {{#if tileTypeSlideshow}}
    <div class="slideshow">
      {{#each slideshow}}

        {{#if hasSlide}}
        <div class="slide">
          <div class="image-caption">
            {{#if hasCaption}}
              <p>{{caption}}</p>
            {{/if}}
          </div><!-- image-caption -->
          <div class="hero" style="background-image: url('https://res.cloudinary.com/orbitist/image/upload/t_1500/{{id}}');"></div>
        </div>
        {{/if}}

      {{/each}}
      {{#if hasAttribution}}
        <div class="slide">
          <p class="slides-attribution">{{attribution}}</p>
        </div><!-- slide -->
      {{/if}}
    </div>
    {{/if}}

    {{#if tileTypeEmbed}}
      <div class="tile-embed">
        {{{embed}}}
        <div class="embed-overlay"></div>
      </div>
      {{#if hasText}}
        <p>{{text}}</p>
      {{/if}}
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    {{/if}}

    {{#if tileTypePointOfInterest}}
    <div class="tile-point-of-interest">
      <div class="row">
        <div class="col-xs-9">
          <p class="lead">{{title}}</p>
          <p>{{text}}</p>
          {{#if hasPhone}}
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</p>
          {{/if}}
          {{#if hasEmail}}
            <p><i class="fa fa-at" aria-hidden="true"></i> {{email}}</p>
          {{/if}}
          {{#if website}}
            <p><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{website}}" target="_blank">{{website}}</a></p>
          {{/if}}
          {{#if hasHours}}
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{hours}}</p>
          {{/if}}
          {{#if hasCost}}
            <p><i class="fa fa-money" aria-hidden="true"></i> {{cost}}</p>
          {{/if}}
          {{#if hasAccessibility}}
            <p><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> {{accessibility}}</p>
          {{/if}}
          {{#if hasAttribution}}
            <p><small>{{attribution}}</small></p>
          {{/if}}
        </div><!-- col-xs-9 -->
        <div class="col-xs-3">
          {{#if hasImage}}
            <img class="img-responsive img-rounded" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/>
          {{else}}
            <img class="img-responsive img-rounded" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/q16hdfjxnpvepkrqnvyg"/>
          {{/if}}
        </div><!-- col-xs-3 -->
      </div><!-- row -->
    </div>
    {{/if}}

    {{#if tileTypeLink}}
      <div class="tile-link">
        <h2 class="lead link"><a href="{{url}}" target="_blank"><i class="fa fa-link"></i> {{text}} <small><i class="fa fa-external-link"></i></small></a></h2>
      </div>
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    {{/if}}

    {{#if tileTypeFigure}}
      <div class="tile-figure">
        <h1 class="figure"><i class="{{icon}}"></i> {{figure}}</h1>
        <p class="center lead">{{text}}</p>
      </div>
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    {{/if}}


  </div><!-- tile -->
</template>
