<template name="tileItemEdit">
  <div class="col-md-4">
    <div class="tile-edit thumbnail">

    {{#if tileTypeText}}
      <p>{{text}}</p>
    {{/if}}

    {{#if tileTypeImage}}
      <img class="img-responsive" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/>
      {{#if hasText}}
        <p>{{text}}</p>
      {{/if}}
    {{/if}}

    {{#if tileTypeVideo}}
      <video class="img-responsive" controls poster="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.jpg">
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.webm" type="video/webm"/>
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.mp4" type="video/mp4"/>
        <source src="https://res.cloudinary.com/orbitist/video/upload/{{videoId}}.ogv" type="video/ogg"/>
      </video>
      {{#if hasText}}
        <p>{{text}}</p>
      {{/if}}
    {{/if}}

    {{#if tileTypeSlideshow}}
      {{#each slideshow}}
        {{#if hasSlide}}
        <div class="slide">
          <img class="img-responsive" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{id}}"/>
          {{#if hasCaption}}
            <small>{{caption}}</small>
            <hr>
          {{/if}}
        </div>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if tileTypeEmbed}}
    <div class="tile-embed">
        {{{embed}}}
        <div class="embed-overlay"></div>
      {{#if hasText}}
        <p>{{text}}</p>
      {{/if}}
    </div>
    {{/if}}

    {{#if tileTypePointOfInterest}}
      <div class="row">
        <div class="col-xs-3">
          {{#if hasImage}}
            <img class="img-responsive img-circle" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/>
          {{else}}
            <img class="img-responsive img-circle" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/q16hdfjxnpvepkrqnvyg"/>
          {{/if}}
        </div><!-- col-xs-3 -->
        <div class="col-xs-9">
          <p class="lead">{{title}}</p>
          <p>{{text}}</p>
          {{#if hasPhone}}
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</p>
          {{/if}}
          {{#if hasEmail}}
            <p><i class="fa fa-at" aria-hidden="true"></i> {{email}}</p>
          {{/if}}
          {{#if hasHours}}
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{hours}}</p>
          {{/if}}
          {{#if hasCost}}
            <p><i class="fa fa-money" aria-hidden="true"></i> {{cost}}</p>
          {{/if}}
          {{#if hasAccessibility}}
            <p><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> {{accessibility}}</p>
          {{/if}}
        </div><!-- col-xs-9 -->
      </div><!-- row -->
    {{/if}}

    {{#if tileTypeLink}}
      <h2 class="lead link"><a href="{{url}}" target="_blank"><i class="fa fa-link"></i> {{text}} <small><i class="fa fa-external-link"></i></small></a></h2>
    {{/if}}

    {{#if tileTypeFigure}}
      <div class="tile-figure">
        <h1 class="lead link"><i class="{{icon}}"></i> {{figure}}</h1>
        <p>{{text}}</p>
      </div>
      {{#if hasAttribution}}
        <p><small>{{attribution}}</small></p>
      {{/if}}
    {{/if}}

    {{> tileButtons}}
    </div>
  </div><!-- tile -->
</template>
