<template name="tileEdit">

  {{#if tileTypeText}}
    {{> tileEditText}}
  {{/if}}

  {{#if tileTypeImage}}
    {{> tileEditImage}}
  {{/if}}

  {{#if tileTypeVideo}}
    {{> tileEditVideo}}
  {{/if}}

  {{#if tileTypeSlideshow}}
    {{> tileEditSlideshow}}
  {{/if}}

  {{#if tileTypeEmbed}}
    {{> tileEditEmbed}}
  {{/if}}

  {{#if tileTypePointOfInterest}}
    {{> tileEditPointOfInterest}}
  {{/if}}

  {{#if tileTypeLink}}
    {{> tileEditLink}}
  {{/if}}

  <p style="position:fixed;top:0px;left:50px;"><a class="btn btn-success btn-xs" href="{{pathFor 'storyEdit' _id=this.storyId}}"><span class="fa fa-arrow-left"></span> Back to story</a></p>

</template>
