<template name="tileItem">
  <div class="tile">

    {{#if tileTypeText}}
      <p>{{text}}</p>
      {{#if latitude}}
        <small><a class="btn btn-xs btn-default" target="_blank" href="https://www.google.com/maps/@{{latitude}},{{longitude}},15z"><i class="fa fa-globe" aria-hidden="true"></i></a></small>
      {{/if}}
      {{#if ownTile}}<small><a class="btn btn-xs btn-default" href="{{pathFor 'tileEditImage'}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></small>{{/if}}
    {{/if}}

    {{#if tileTypeImage}}
      <img class="img-responsive" src ="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/>
      <p>{{text}}</p>
      {{#if latitude}}
        <small><a class="btn btn-xs btn-default" target="_blank" href="https://www.google.com/maps/@{{latitude}},{{longitude}},15z"><i class="fa fa-globe" aria-hidden="true"></i></a></small>
      {{/if}}
      {{#if ownTile}}<small><a class="btn btn-xs btn-default" href="{{pathFor 'tileEditImage'}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></small>{{/if}}
    {{/if}}

  </div><!-- tile-text -->
</template>
