<template name="tileEditLink">
  <div class="page">
    <form>
      <div class="form-group {{errorClass 'link'}}">
        <label class="control-label" for="title">Link</label>
        <div class="controls">

          <label><i class="fa fa-link" aria-hidden="true"></i> Link URL</label>
          <input name="link" id="link" class="form-control" value="{{url}}" />
          <span class="help-block">{{errorMessage 'link'}}</span>

          <label>Link label</label>
          <input name="text" id="text" class="form-control" value="{{text}}" placeholder="Enter link label..." />

          {{> tileAdvancedOptionsEdit}}
        </div>
      </div>
      <input type="submit" value="Save" class="btn btn-primary submit"/>
      <hr/>
      <a class="btn btn-danger delete" href="#">Delete tile</a>
      <hr/>
    </form>
  </div>
</template>
