<template name="storiesList">
  {{#if loggingIn}}
    {{> spinner}}
  {{else}}
    {{#if currentUser}}
      <div class="stories">
        {{#each stories}}
          {{> storyItem}}
        {{/each}}
        {{#if nextPath}}
          <div class="story">
            <a class="load-more btn btn-default" href="{{nextPath}}">Load more</a>
          </div>
        {{else}}
          {{#unless ready}}
            {{> spinner}}
          {{/unless}}
        {{/if}}
      </div>
    {{else}}
      {{> loginScreen}}
    {{/if}}
  {{/if}}

</template>
