<template name="storyMap">
  <div class="story-page page">
    {{> storyHeader}}

    {{#if currentUser}}
      {{#if ownStory}}
        <p class="btn-add"><a href="#" class="create-tile"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a tile</a></p>
        {{#if showTileMenu 'true'}}
          {{> tileMenu}}
        {{/if}}
      {{/if}}<!-- if ownStory -->
    {{/if}}

    <div id="map" style="height:500px;width:100%;"></div>

    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }

      initMap();

    </script>
  </div>
</template>
