<template name="storiesList">
  {{#if loggingIn}}
    {{> spinner}}
  {{else}}
    {{#if currentUser}}

      <div class="container page">
        <p class="btn-add"><a href="{{pathFor 'storySubmit'}}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Story</a></p>
        <div class="stories">
          {{#each stories}}
            {{> storyItem}}
          {{/each}}
          {{#if nextPath}}
            <a class="load-more btn btn-default" href="{{nextPath}}">Load more</a>
          {{else}}
            {{#unless ready}}
              {{> spinner}}
            {{/unless}}
          {{/if}}
        </div>
      </div><!-- container -->
    {{else}}
      {{> loginScreen}}
    {{/if}}
  {{/if}}

</template>
