<template name="storyPage">
{{> storyControls}}
  <div id="fullpage">
    <div class="section">
      <div class="story-header">
        <h1>{{title}}<br><small>by {{author}}</small></h1>
      </div><!-- story-header -->
    </div><!-- section -->
    {{#each tiles}}
    <div class="section">
      <div class="tile-item">
        {{> tileItem}}
      </div><!-- tileItem -->
    </div><!-- section -->
    {{/each}}
  </div><!-- fullpage -->
  <script async src="https://platform.instagram.com/en_US/embeds.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</template>
