<template name="storyEdit">
  <div class="story-page page">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {{> storyHeader}}
      </div>
    </div>

    {{#if currentUser}}
      {{#if ownStory}}
        <p class="btn-add"><a href="#" class="create-tile"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a tile</a></p>
        {{#if showTileMenu 'true'}}
          {{> tileMenu}}
        {{/if}}
      {{/if}}<!-- if ownStory -->
    {{/if}}

    <div id="tile-items">
      {{#each tiles}}
        {{> tileItemEdit}}
      {{/each}}
    </div><!-- #items -->

  </div>
  <script async src="https://platform.instagram.com/en_US/embeds.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</template>
