<template name="storyPage">
  <div class="story-controls">
    <a class="btn btn-success" href="{{pathFor 'storyMap'}}"><i class="fa fa-map-o"></i></a>
    {{#if currentUser}}
    {{#if ownStory}}
    <a href="{{pathFor 'storyEdit'}}" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {{/if}}<!-- if ownStory -->
    {{/if}}
  </div><!-- story-controls -->
  <div id="fullpage">
    <div class="section">
      <div class="story-header">
        <h1>{{title}}<br><small>by {{author}}</small></h1>
      </div><!-- story-header -->
    </div><!-- section -->
    {{#each tiles}}
    <div class="section">
      <div class="tile-item">
        {{> tileItem}}
      </div><!-- tileItem -->
    </div><!-- section -->
    {{/each}}
  </div><!-- fullpage -->
</template>
