<template name="storiesList">
  <div class="stories">
    <div class="wrapper">
      {{#each stories}}
        {{> storyItem}}
      {{/each}}
    </div>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>

  {{#unless currentUser }}
    <p class="login-heading lead"><img src="http://static1.squarespace.com/static/55a95d75e4b0ca41a09fafe7/t/55ad2769e4b0ef0d23b4e452/1481197561871/?format=1500w"/><br/>Sign in to Orbitist</p>
    {{> loginButtons}}
  {{/unless}}
</template>
