.navbar-toggle-orbitist {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999999999999999999;
  background-color: rgba(255,255,255,0.8);
  font-size: 20px;
}

.navmenu-brand img {
  width: 30px;
  border-radius: 3px;
  margin-top: -5px;
}
