.navbar {
}

.navbar-default {
  background-color: white;
  border-color: #eee;
}

.navbar-collapse {
  border-color: #eee;
}

.navbar-brand img {
  width: 30px;
  border-radius: 3px;
  margin-top: -5px;
}
