.popup-content {
  max-width: 300px;
  background-color: white !important;
  border-radius: 3px;
}

.story-map {
  height:calc(100vh - 50px);
  width:100%;
  margin-top: 50px;
}

.map-title a {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
}
@media (min-width: 784px) {
  .map-title a {
    width: 600px;
  }
}
