.tile {
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  margin: 5px auto;
  max-width: 640px;
  background-color: white;
  overflow-y: hidden;
}

#tile-items {
  padding: 10px 40px;
}

.link {
  text-align: center;
}
