.popup-content iframe {
  width: 100% !important;
  height: 250px !important;
}

.tile-embed {
  width: 100%;
  height: calc(100vh - 60px);
  -webkit-overflow-scrolling : touch;
}

.tile-embed iframe {
  width: 100% !important;
  height: 100% !important;
}

twitterwidget {
  margin: 10px auto !important;
}

.tile-embed iframe.instagram-media {
  max-width: 658px !important;
  margin: 0 auto !important;
}

.thumbnail .tile-embed {
  height: 300px !important;
}

.embed-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}
