.slideshow {
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 100vh !important;
  overflow: hidden;
}

.fp-slide {
  position: relative;
  display: block;
  height: 100vh !important;
  overflow: hidden;
}

.fp-slide.fp-table {
  display: block;
}

.fp-tableCell {
  height: 100% !important;
  overflow: hidden;
}

.slide p {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
  font-size: 14px;
  display: block;
}
