.tile {
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  margin: 5px auto;
  max-width: 640px;
  background-color: white;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
