.tile {
  width: 100%;
  border-radius: 3px;
  padding: 0px;
  margin: 0px auto;
  background-color: white;
  overflow-y: hidden;
}

#tile-items {
  padding: 10px 40px;
}

.link {
  text-align: center;
}

.tile-edit {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: move;
}
