<template name="tileEditText">
  <form>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Text</label>
      <div class="controls">
        <textarea name="text" id="text" class="form-control" rows="5" value="{{text}}"></textarea>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete story</a>
  </form>
</template>
