<template name="tileSubmitImage">
  <hr>
  <form name="tile" class="tile-form form">
    <div class="form-group {{errorClass 'image'}}">
        {{#if uploadingImage 'true'}}
          {{> uploading}}
        {{/if}}
        <div class="controls">
          <label>Image</label>
            <div class="imageUploadThumb"></div>
            <input type="file" name="image" id="image" class="form-control" accept="image/*" value="">
            <span class="help-block">{{errorMessage 'image'}}</span>
            <textarea name="text" id="text" class="form-control" rows="5" placeholder="Describe your image..."></textarea>
            {{> tileAdvancedOptions}}
        </div>
    </div>
    {{> tileSubmitButton}}
  </form>
</template>
