<template name="tileEditImage">
  <div class="page">
    <form>
      <div class="form-group {{errorClass 'image'}}">
          {{#if uploadingImage 'true'}}
            {{> uploading}}
          {{/if}}
          <div class="controls">
            <label>Image</label>
              <div class="imageUploadThumb"><img class="img-responsive" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/><a href="#" class="btn btn-danger btn-xs delete-image"><span class="fa fa-close"></span> Delete Image</a></div>
              <input type="file" name="image" id="image" class="form-control" accept="image/*" value="">
              <span class="help-block">{{errorMessage 'image'}}</span>
              <label>Image Title</label>
              <input name="title" id="title" type="text" value="{{title}}" placeholder="Title of this image..." class="form-control"/>
              <label>Image Caption</label>
              <textarea name="text" id="text" class="form-control" rows="5" placeholder="Describe your image..." value="{{text}}"></textarea>
              {{> tileAdvancedOptionsEdit}}
          </div>
      </div>
      <input type="submit" value="Save" class="btn btn-primary submit"/>
      <hr/>
      <a class="btn btn-danger delete" href="#">Delete tile</a>
      <hr>
    </form>
  </div>
</template>
