<template name="tileEditPointOfInterest">
  <div class="page">
    <form>
      <div class="form-group {{errorClass 'image'}}">
          {{#if uploadingImage 'true'}}
            {{> uploading}}
          {{/if}}
          <div class="controls">

            <label>Title</label>
            <input name="title" id="title" type="text" value="{{title}}" placeholder="Title of this point of interest" class="form-control"/>

            <label>Image</label>
            <div class="imageUploadThumb">{{#if hasImage}}<img class="img-responsive" src="https://res.cloudinary.com/orbitist/image/upload/t_1500/{{imageId}}"/><a href="#" class="btn btn-danger btn-xs delete-image"><span class="fa fa-close"></span> Delete Image</a>{{/if}}</div>
            <input type="file" name="image" id="image" class="form-control" accept="image/*" value="">
            <span class="help-block">{{errorMessage 'image'}}</span>

            <label>Description</label>
            <textarea name="text" id="text" class="form-control" rows="5" placeholder="Describe your point of interest..." value="{{text}}"></textarea>

            <label><i class="fa fa-phone" aria-hidden="true"></i> Phone</label>
            <input name="phone" id="phone" type="text" value="{{phone}}" placeholder="Enter phone number here" class="form-control"/>

            <label><i class="fa fa-at" aria-hidden="true"></i> Email</label>
            <input name="email" id="email" type="text" value="{{email}}" placeholder="Enter email address here" class="form-control"/>

            <label><i class="fa fa-clock-o" aria-hidden="true"></i> Hours</label>
            <input name="hours" id="hours" type="text" value="{{hours}}" placeholder="Enter hours of operation here" class="form-control"/>

            <label><i class="fa fa-money" aria-hidden="true"></i> Cost</label>
            <input name="cost" id="cost" type="text" value="{{cost}}" placeholder="Enter cost information here" class="form-control"/>

            <label><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> Accessibility</label>
            <input name="accessibility" id="accessibility" type="text" value="{{accessibility}}" placeholder="Enter accessibility information here" class="form-control"/>

            {{> tileAdvancedOptionsEdit}}
          </div>
      </div>
      <input type="submit" value="Save" class="btn btn-primary submit"/>
      <hr/>
      <a class="btn btn-danger delete" href="#">Delete tile</a>
      <hr>
    </form>
  </div>
</template>
