<template name="login">
  <p class="login-heading lead"><img src="https://res.cloudinary.com/orbitist/image/upload/v1482159213/logo_blue_button_100_sjpiii.png"/><br/>Log in to Orbitist</p>
  <form>
      <input type="text" name="loginEmail" placeholder="Username/email">
      <input type="password" name="loginPassword" placeholder="Password">
      <input type="submit" value="Login" class="btn btn-success">
  </form>
  <a href="#" id="goRegister">Create an account <span class="fa fa-arrow-right"></span></a>
</template>
