<template name="register">
    <form>
        <input type="text" name="registerUsername" placeholder="Username">
        <input type="email" name="registerEmail" placeholder="Email">
        <div id="email2">
          <input type="email2" name="registerEmail2" placeholder="Email2">
        </div>
        <input type="password" name="registerPassword" placeholder="Password">
        <input type="submit" value="Register" id="registered">
    </form>
    <a href="#" id="goLogin">Log in</a>
</template>
