<template name="register">
  <p class="login-heading lead"><img src="https://res.cloudinary.com/orbitist/image/upload/v1482159213/logo_blue_button_100_sjpiii.png"/><br/>Create an Orbitist account</p>
  <form>
    <div id="email2">
      <input type="email2" name="registerEmail2" placeholder="Email2">
    </div>
    <input type="text" name="registerUsername" placeholder="Username">
    <input type="email" name="registerEmail" placeholder="Email">
    <input type="password" name="registerPassword" placeholder="Password">
    <input type="password" name="registerSecret" placeholder="Secret Password">
    <input type="submit" value="Register" id="registered" class="btn btn-success">
  </form>
  <a href="#" id="goLogin">Already have an account? Log in <span class="fa fa-arrow-right"></span></a>
</template>
